<div class="hero is-fullheight">
    <h1 id="user-list" style="color: white;" class="title is-1">User List</h1>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-10">
                    <form class="box" #userListForm="ngForm" style="margin-top: 100px;">
                        <div class="field">
                            <div class="field-body">
                                <div class="field">
                                    <button class="button is-small is-primary" id="addUser" onclick="addUserModal.classList.toggle('is-active')"><fa-icon [icon]="faPlus"></fa-icon>Add User</button>
                                </div>
                                <div class="field has-addons is-grouped is-grouped-right">
                                    <div class="control">
                                        <input class="input is-small" type="search" name="search" placeholder="Search users...">
                                    </div>
                                    <div class="control">
                                        <button class="button is-info is-small">Search</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <table class="table is-striped is-hoverable is-fullwidth">
                            <thead>
                              <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>    
                                <th>Actions</th>
                              </tr>
                            </thead>
                            <tbody *ngFor="let user of users">
                                <td onclick="viewUserModal.classList.toggle('is-active')">{{user?.firstname}}</td>
                                <td onclick="viewUserModal.classList.toggle('is-active')">{{user?.lastname}}</td>
                                <td onclick="viewUserModal.classList.toggle('is-active')">{{user?.email}}</td>
                                <td>
                                    <button class="button is-small" onclick="editUserModal.classList.toggle('is-active')"><fa-icon style="color:#00d1b2"[icon]="faEdit"></fa-icon></button>
                                    <button class="button is-small" id="deleteUser" onclick="deleteUserModal.classList.toggle('is-active')"><fa-icon style="color:red" [icon]="faTrash"></fa-icon></button>
                                </td>
                            </tbody>
                        </table>      
                    </form>
                    <!--edit user modal-->
                    <div class="modal" id="editUserModal">
                        <div class="modal-background" onclick="editUserModal.classList.toggle('is-active')"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">editUserModal</p>
                                <button class="delete" aria-label="close" id="close" onclick="editUserModal.classList.toggle('is-active')"></button>
                            </header>
                            <section class="modal-card-body">
                            <!-- Content ... -->
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-success" id="save" onclick="editUserModal.classList.toggle('is-active')">Save changes</button>
                                <button class="button" id="cancel" onclick="editUserModal.classList.toggle('is-active')">Cancel</button>
                            </footer>
                        </div>
                    </div>
                    <!--view user modal-->
                    <div class="modal" id="viewUserModal">
                        <div class="modal-background" onclick="viewUserModal.classList.toggle('is-active')"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">viewUserModal</p>
                                <button class="delete" aria-label="close" id="close" onclick="viewUserModal.classList.toggle('is-active')"></button>
                            </header>
                            <section class="modal-card-body">
                            <!-- Content ... -->
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-success" id="save" onclick="viewUserModal.classList.toggle('is-active')">Save changes</button>
                                <button class="button" id="cancel" onclick="viewUserModal.classList.toggle('is-active')">Cancel</button>
                            </footer>
                        </div>
                    </div>
                    <!--delete user modal-->
                    <div class="modal" id="deleteUserModal">
                        <div class="modal-background" onclick="deleteUserModal.classList.toggle('is-active')"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">deleteUserModal</p>
                                <button class="delete" aria-label="close" onclick="deleteUserModal.classList.toggle('is-active')"></button>
                            </header>
                            <section class="modal-card-body">
                            <!-- Content ... -->
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-success" onclick="deleteUserModal.classList.toggle('is-active')">Save changes</button>
                                <button class="button" onclick="deleteUserModal.classList.toggle('is-active')">Cancel</button>
                            </footer>
                        </div>
                    </div>
                    <!--add user modal-->
                    <div class="modal" id="addUserModal">
                        <div class="modal-background" onclick="addUserModal.classList.toggle('is-active')"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">addUserModal</p>
                                <button class="delete" aria-label="close" onclick="addUserModal.classList.toggle('is-active')"></button>
                            </header>
                            <section class="modal-card-body">
                            <!-- Content ... -->
                            </section>
                            <footer class="modal-card-foot">
                                <button class="button is-success" onclick="addUserModal.classList.toggle('is-active')">Save changes</button>
                                <button class="button" onclick="addUserModal.classList.toggle('is-active')">Cancel</button>
                            </footer>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
