.hero{
    background-image: url('/assets/img/bg4.jpg') !important;
    background-size: cover;
    background-position: center center;
  }

  .label{
    color: whitesmoke;
  }

  .button{
    transition: 0.4s;
  }

  .button:hover{
    background-color: hsl(171, 100%, 26%);
  }
  