<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <form class="box" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
            <div class="field">
              <label class="label">Firstname</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" name="firstname" placeholder="ex. John" #firstnameInput="ngModel" ngModel required>
                <span class="help is-error" *ngIf="firstnameInput.invalid && firstnameInput.touched">Firstname required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Lastname</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" name="lastname" placeholder="ex. Smith" ngModel #lastnameInput="ngModel" required>
                <span class="help is-error" *ngIf="lastnameInput.invalid && lastnameInput.touched">Lastname required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="email" name="email" placeholder="ex. johnsmith@email.com" #emailInput="ngModel" ngModel required>
                <span class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">Email required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="password" name="password" #passwordInput="ngModel" ngModel required>
                <span class="help is-error" *ngIf="passwordInput.invalid && passwordInput.touched">Password required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Height</label>
              <div class="control has-icons-left">
                <div class="select is-rounded">
                  <select id="height" ngModel name="height" style="width:250px">
                    <option class="dropdown-item" selected disabled value="">Select height</option>
                    <option *ngFor="let height of heightDropDown" [ngValue]="height">{{height}}</option>
                  </select>
                </div>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faRuler"></fa-icon>>
                </span>
              </div>
            </div>
            <label class="label">Weight</label>
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="input is-rounded" type="number" name="weight" placeholder="ex. 130lbs" ngModel #weightInput="ngModel" required> 
                <span class="help is-error" style="color:red"*ngIf="weightInput.invalid && weightInput.touched">Weight required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faWeight"></fa-icon>
                </span>
              </div>
              <p class="control">
                <a class="button is-static">lbs</a>
              </p>
            </div>
            <div class="field">
              <button type="submit" class="button is-small is-primary" [disabled]="addForm.invalid">Sign Up</button>
            </div>
            <div class="field">
              <a href="" style="text-decoration: underline;">Forgot password</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
          
          <!--height field
          <div class="control has-icons-left">
            <div class="select is-rounded">
              <select id="height" ngModel name="height" style="width:250px">
                <option class="dropdown-item" selected disabled value="">Select height</option>
                <option *ngFor="let height of heightDropDown" [ngValue]="height">{{height}}</option>
              </select>
            </div>
              <div class="icon is-small is-left">
                    <i class="fa fa-ruler-vertical"></i>
                  </div>
            </div>
  
          <!--weight field
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-rounded" style="margin-top:2%; width:250px" type="number" name="weight" placeholder="Weight"
                     id="weight" ngModel required>
  
              <span class="icon is-small is-left" style="margin-top:2%">
                    <i class="fa fa-weight"></i>
                  </span>
            </div>
          </div>
  
          <!--age field
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-rounded" style="width: 250px" type="number" name="age" placeholder="Age"
                     id="age" ngModel required>
  
              <span class="icon is-small is-left">
                    <i class="fa fa-hourglass"></i>
                  </span>
            </div>
          </div>
  
          <!--activity level(dropdown)
          <div class="control has-icons-left">
            <div class="select is-rounded">
              <select name="activityLevel" style="width:250px" id="activityLevel" ngModel required>
                <option selected class="dropdown-item" disabled selected value="">Select activity level</option>
                <option value="sedentary">Sedentary</option>
                <option value="light">Light</option>
                <option value="moderate">Moderate</option>
                <option value="heavy">Heavy</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fa fa-dumbbell"></i>
            </div>
          </div>
          <!--goal(dropdown)
          <div class="control has-icons-left" style="margin-top: 2%">
            <div class="select is-rounded">
              <select name="goal" id="goal" ngModel style="width:250px">
                <option class="dropdown-item" disabled selected value="">Select goal</option>
                <option value="lose">Lose weight</option>
                <option value="maintain">Maintain weight</option>
                <option value="gain">Gain weight</option>
              </select>
            </div>
            <div class="icon is-small is-left">
              <i class="fa fa-clipboard-list"></i>
            </div>
          </div>
          <!--submit button
          <button type="submit" id="add-user-form" class="button is-medium is-primary" [disabled]="addForm.invalid" style="margin-top:5%">Sign Up</button>
        </form>
  
      </div>
    </div>
  </section> 
  
-->
  