<div class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
          <form class="box" #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
            <div class="field">
              <label class="label">Firstname</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" name="firstname" placeholder="e.g. John" #firstnameInput="ngModel" ngModel required>
                <span style="color:red;"class="help is-error" *ngIf="firstnameInput.invalid && firstnameInput.touched">Firstname required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Lastname</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="text" name="lastname" placeholder="e.g. Smith" ngModel #lastnameInput="ngModel" required>
                <span style="color:red;" class="help is-error" *ngIf="lastnameInput.invalid && lastnameInput.touched">Lastname required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="email" name="email" placeholder="e.g. johnsmith@email.com" #emailInput="ngModel" ngModel required>
                <span style="color:red;" class="help is-error" *ngIf="emailInput.invalid && emailInput.touched">Email required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faEnvelope"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="password" name="password" #passwordInput="ngModel" ngModel required>
                <span style="color:red;" class="help is-error" *ngIf="passwordInput.invalid && passwordInput.touched">Password required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
              <label class="label">Height</label>
              <div class="control has-icons-left">
                <div class="select is-rounded">
                  <select id="height" #heightInput="ngModel" ngModel name="height">
                    <option class="dropdown-item" selected disabled value="">Select height</option>
                    <option *ngFor="let height of heightDropDown" [ngValue]="height">{{height}}</option>
                  </select>
                </div>
                <span class="help is-error" style="color:red" *ngIf="heightInput.invalid || heightInput.touched">Height required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faRuler"></fa-icon>>
                </span>
              </div>
            </div>
            <label class="label">Weight</label>
            <div class="field has-addons">
              <div class="control has-icons-left">
                <input oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="3" class="input is-rounded" type="number" name="weight" placeholder="e.g. 130lbs" ngModel #weightInput="ngModel" required> 
                <span class="help is-error" style="color:red"*ngIf="weightInput.invalid && weightInput.touched">Weight required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faWeight"></fa-icon>
                </span>
              </div>
              <p class="control">
                <a class="button is-static">lbs</a>
              </p>
            </div>
            <div class="field">
              <label class="label">Age</label>
              <div class="control has-icons-left">
                <input class="input is-rounded" type="number" name="age" placeholder="e.g. 27" id="age" #ageInput="ngModel" ngModel required>
                <span class="help is-error" style="color:red"*ngIf="ageInput.invalid && ageInput.touched">Age required</span>
                <span class="icon is-small is-left">
                  <fa-icon [icon]="faHourglass"></fa-icon>
                </span>
              </div>
            </div>
            <div class="field">
            <label class="label">Activity Level</label>
              <div class="control has-icons-left">
                <div class="select is-rounded">
                  <select name="activityLevel" id="activityLevel" #activityLevel="ngModel" ngModel required>
                    <option selected class="dropdown-item" disabled selected value="">Select activity level</option>
                    <option value="sedentary">Sedentary</option>
                    <option value="light">Light</option>
                    <option value="moderate">Moderate</option>
                    <option value="heavy">Heavy</option>
                  </select>
                </div>
                <span class="help is-error" style="color:red"*ngIf="activityLevel.invalid && activityLevel.touched">Activity Level required</span>
                <div class="icon is-small is-left">
                  <fa-icon [icon]="faDumbbell"></fa-icon>
                </div>
              </div>
            </div>
            <div class="field">
            <label class="label">Goal</label>
              <div class="control has-icons-left">
                <div class="select is-rounded">
                  <select #goalInput="ngModel" name="goal" id="goal" ngModel>
                    <option class="dropdown-item" disabled selected value="">Select goal</option>
                    <option value="lose">Lose weight</option>
                    <option value="maintain">Maintain weight</option>
                    <option value="gain">Gain weight</option>
                  </select>
                </div>
                <span class="help is-error" style="color:red"*ngIf="goalInput.invalid || goalInput.touched">Goal required</span>
                <div class="icon is-small is-left">
                  <fa-icon [icon]="faClipboard"></fa-icon>
                </div>
              </div>
            </div>
            <div class="field">
              <button type="submit" id="add-user-form" class="button is-medium is-primary" [disabled]="addForm.invalid">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
