
.hero{
  background-image: url('/assets/img/bg1.jpg') !important;
  background-size: cover;
  background-position: center center;
}

.input{
  width: 100%;

}

#forgotPass:hover{
  text-decoration: underline;
  transition: 0.4s;
}

#loginButton{
  
  transition: 0.4s;
}

#loginButton:hover{
  background-color: rgb(68, 68, 68);
}


