<section class="hero is-link is-bold is-fullheight">
  <div class="hero-body">
    <div class="container" style="border-radius: 25px; background: rgb(47, 47, 47); max-width: 500px; height: 300px;">
      <form (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
        <p class="title" style="color: whitesmoke; text-align:center; position: relative; top: 20px">Login</p>
        <!--email field-->
        <div class="field">
          <label style="color: whitesmoke;" class="label">Email</label>
            <div class="control has-icons-left">
              <input name="email" class="input is-rounded" type="email" placeholder="Email" ngModel #emailInput="ngModel" required>
                <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">Email required</div>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
</div>

        </div>
        <!--password field-->
        <div class="field">
          <label style="color: whitesmoke;" class="label">Password</label>
            <div class="control has-icons-left">
              <input name="password" class="input is-rounded" type="password" placeholder="Password" ngModel #passwordInput="ngModel" required>
                <div class="help is-error" *ngIf="passwordInput.invalid && passwordInput.dirty">Password required</div>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
            </div>
        </div>
        <!--login button-->
        <button id="loginButton" type="submit" style="position:relative; top:30px" class="button is-small is-primary" [disabled]="loginForm.invalid">Log In</button>

        <!--forgot password link-->
        <a href="" id="forgotPass" class="has-text-primary" style="position:relative; left:300px; top:40px">Forgot password</a>
      </form>
    </div>
  </div>
</section>




