.hero{
    background-image: url('/assets/img/bg5.jpg') !important;
    background-size: cover;
    background-position: center center;
}

#profile {
    top: 100px;
    left: 100px;
    position: relative;
  }
