<section class="hero is-dark is-bold is-fullheight" >
  <div class="hero-body">
    <p class="title">
      Keep track of what you eat!
    </p>
    <div class="container" style="margin-left: auto; margin-right: 2; border-radius: 25px; background: white;
    max-width: 400px; height: 350px;">
      <p style="color: black; margin-top: 5%">Need help counting your calories and macros? Need a second opinion on how
        your diet should be to reach your desired goal? Then look no further, this site has you covered! Once you make
        an account, you will have full access to the site's features. These features include:
      <li>Calorie Counter: Keeps track of your daily caloric intake.</li>
      <li>Macro Calculator: Estimates your macronutrient needs based on your age, physical characteristics,
        activity level, and body weight goals.</li>
      <li>Meal Planner: Customize your weekly meal plan based on your diet, eating habits, preferences, and any food
        intolerances or allergies.</li>
      </p>
      <p style="color: black; margin-top: 5%">New users will also have access to countless recipes geared toward specific diet!</p>

    </div>
  </div>
</section>
