<section class="hero is-link is-bold is-fullheight">
  <div class="hero-body">
    <div class="container" style="margin-left: 0;margin-right: auto;border-radius: 25px; background: white;
    max-width: 300px; height: 650px;">
      <form #addForm="ngForm" (ngSubmit)="onAddUser(addForm)">
        <p class="title" style="color: black; text-align:center;margin-top:2%">Sign Up</p>
        <!--firstname field-->
        <div class="field">
          <div class="control has-icons-left">
          <input class="input is-rounded" style="width:250px" type="text" name="firstname" placeholder="Firstname" id="firstname" ngModel required>
                <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
          </div>
        </div>
        <!--lastname field-->
        <div class="field">
          <div class="control has-icons-left">
          <input class="input is-rounded" style="width:250px" type="text" name="lastname" placeholder="Lastname" id="lastname" ngModel required>

          <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
          </div>
        </div>
        <!--email-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" style="width:250px" type="email" name="email" placeholder="Email" id="email" ngModel required>

            <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
          </div>
        </div>
        <!--password field-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" style="width:250px" type="password" name="password" placeholder="Password" id="password" ngModel required>

            <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
          </div>
        </div>
        <!--height field-->
        <div class="control has-icons-left">
          <div class="select is-rounded">
            <select id="height" ngModel name="height" style="width:250px">
              <option class="dropdown-item" selected disabled value="">Select height</option>
              <option *ngFor="let height of heightDropDown" [ngValue]="height">{{height}}</option>
            </select>
          </div>
            <div class="icon is-small is-left">
                  <i class="fa fa-ruler-vertical"></i>
                </div>
          </div>

        <!--weight field-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" style="margin-top:2%; width:250px" type="number" name="weight" placeholder="Weight"
                   id="weight" ngModel required>

            <span class="icon is-small is-left" style="margin-top:2%">
                  <i class="fa fa-weight"></i>
                </span>
          </div>
        </div>

        <!--age field-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" style="width: 250px" type="number" name="age" placeholder="Age"
                   id="age" ngModel required>

            <span class="icon is-small is-left">
                  <i class="fa fa-hourglass"></i>
                </span>
          </div>
        </div>

        <!--activity level(dropdown)-->
        <div class="control has-icons-left">
          <div class="select is-rounded">
            <select name="activityLevel" style="width:250px" id="activityLevel" ngModel required>
              <option selected class="dropdown-item" disabled selected value="">Select activity level</option>
              <option value="sedentary">Sedentary</option>
              <option value="light">Light</option>
              <option value="moderate">Moderate</option>
              <option value="heavy">Heavy</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <i class="fa fa-dumbbell"></i>
          </div>
        </div>
        <!--goal(dropdown)-->
        <div class="control has-icons-left" style="margin-top: 2%">
          <div class="select is-rounded">
            <select name="goal" id="goal" ngModel style="width:250px">
              <option class="dropdown-item" disabled selected value="">Select goal</option>
              <option value="lose">Lose weight</option>
              <option value="maintain">Maintain weight</option>
              <option value="gain">Gain weight</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <i class="fa fa-clipboard-list"></i>
          </div>
        </div>
        <!--submit button-->
        <button type="submit" id="add-user-form" class="button is-medium is-primary" [disabled]="addForm.invalid" style="margin-top:5%">Sign Up</button>
      </form>

    </div>
  </div>
</section>

