<section class="hero is-link is-bold is-fullheight">
  <div class="hero-body">
    <div class="container" style="margin-left: 0;margin-right: auto;border-radius: 25px; background: white;
    max-width: 800px; height: 1000px;">
      <form (ngSubmit)="submitForm()" #loginForm="ngForm">
        <p class="title" style="color: black; text-align:center;">Sign Up</p>
        <!--firstname field-->
        <!--lastname field-->
        <!--email-->
        <!--password field-->
        <!--height field-->
        <!--weight field-->
        <!--birthdate field (calendar date selector, calculate age based on selection, saving both birthdate and age)-->
        <!--activity level(dropdown)-->
        <!--goal(dropdown)-->
        <!--submit button-->

      </form>

    </div>
  </div>
</section>
<div class="field">
  <label class="label">Name</label>
  <div class="control">
    <input class="input" type="text" placeholder="e.g Alex Smith">
  </div>
</div>

<div class="field">
  <label class="label">Email</label>
  <div class="control">
    <input class="input" type="email" placeholder="e.g. alexsmith@gmail.com">
  </div>
</div>
