<section class="hero is-link is-bold is-fullheight">
  <div class="hero-body">
    <div class="container" style="margin-left: 0;margin-right: auto;border-radius: 25px; background: white;
    max-width: 800px; height: 1000px;">
      <form (ngSubmit)="submitForm()" #loginForm="ngForm">
        <p class="title" style="color: black; text-align:center;">Sign Up</p>
        <!--firstname field-->
        <div class="field">
          <div class="control has-icons-left">
          <input class="input is-rounded" type="text" name="firstname" placeholder="Firstname" [(ngModel)]="firstname" #firstnameInput="ngModel" required>
          <div class="help is-error" *ngIf="firstnameInput.invalid && firstnameInput.dirty">Firstname required</div>
          <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
          </div>
        </div>
        <!--lastname field-->
        <div class="field">
          <div class="control has-icons-left">
          <input class="input is-rounded" type="text" name="lastname" placeholder="Lastname" [(ngModel)]="lastname" #lastnameInput="ngModel" required>
          <div class="help is-error" *ngIf="lastnameInput.invalid && lastnameInput.dirty">Lastname required</div>
          <span class="icon is-small is-left">
                  <i class="fa fa-user"></i>
                </span>
          </div>
        </div>
        <!--email-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" type="email" name="email" placeholder="Email" [(ngModel)]="email" #emailInput="ngModel" required>
            <div class="help is-error" *ngIf="emailInput.invalid && emailInput.dirty">Email required</div>
            <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
          </div>
        </div>
        <!--password field-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" type="password" name="password" placeholder="Password" [(ngModel)]="password" #passwordInput="ngModel" required>
            <div class="help is-error" *ngIf="passwordInput.invalid && passwordInput.dirty">Password required</div>
            <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
          </div>
        </div>
        <!--height field-->
        <div class="control has-icons-left">
          <div class="select is-rounded">
            <select [(ngModel)]="height" name="height">
              <option class="dropdown-item" disabled selected value="undefined">Select height</option>
              <option *ngFor="let height of heightDropDown" [ngValue]="height">{{height}}</option>
            </select>
          </div>
            <div class="icon is-small is-left">
                  <i class="fa fa-ruler-vertical"></i>
                </div>
          </div>

        <!--weight field-->
        <div class="field">
          <div class="control has-icons-left">
            <input class="input is-rounded" style="margin-top:2%" type="number" name="weight" placeholder="Weight" [(ngModel)]="weight"
                   #weightInput="ngModel" required>
            <div class="help is-error" *ngIf="weightInput.invalid && weightInput.dirty">Weight required</div>
            <span class="icon is-small is-left" style="margin-top:2%">
                  <i class="fa fa-weight"></i>
                </span>
          </div>
        </div>

        <!--birthdate field (calendar date selector, calculate age based on selection, saving both birthdate and age)-->
        <label class="label">Select birthdate:</label>
        <mat-form-field class="example-full-width" appearance="fill" style="color:black">

          <mat-label>Choose a date</mat-label>
          <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="birthdate"
                 [(ngModel)]="birthdate" #birthdateInput="ngModel" required>
          <div class="help is-error" *ngIf="birthdateInput.invalid && birthdateInput.dirty">Birthdate required</div>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <!--activity level(dropdown)-->
        <div class="control has-icons-left">
          <div class="select is-rounded">
            <select name="activityLevel" [(ngModel)]="activityLevel">
              <option class="dropdown-item" disabled selected value="undefined">Select activity level</option>
              <option value="sedentary">Sedentary</option>
              <option value="light">Light</option>
              <option value="moderate">Moderate</option>
              <option value="heavy">Heavy</option>
            </select>
          </div>
          <div class="icon is-small is-left">
            <i class="fa fa-dumbbell"></i>
          </div>
        </div>
        <!--goal(dropdown)-->
        <!--submit button-->

      </form>

    </div>
  </div>
</section>

