<nav class="navbar is-primary">
    <!--logo-->
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/img/logo.png" alt="site logo" style="max-height:70px" class="py-2 px-2">
      </a>
      <a class="navbar-burger" id="burger" (click)="onClick()">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  
  <!--menu-->
    <div class="navbar-menu" id="nav-links">
      <div class="navbar-start">
        <div class="navbar-item">
          <a  class="navbar-link is-arrowless" routerLink="/contact">Contact</a>
        </div>
        <div class="navbar-item">
          <a class="navbar-link is-arrowless" routerLink="/about">About</a>
        </div>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <a *ngIf="!isLoggedIn" class="navbar-link is-arrowless" routerLink="/login">Login</a>
        </div>
        <div class="navbar-item">
          <a *ngIf="!isLoggedIn" class="navbar-link is-arrowless" routerLink="/signup">Sign Up</a>
        </div>
        <div class="navbar-item">
          <a *ngIf="isLoggedIn" class="navbar-link is-arrowless" routerLink="/user">
            <span class="icon is-small">
              <fa-icon [icon]="faUserCircle"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </div>
  
  </nav>
  
  